<h1>ToDo List</h1>
<!-- компонента формы -->
<app-todolist-form (getTextForNewItem)="createNewItem($event)" (updateText)="updateItem($event)" [editedItemText]="this.editedItemText"></app-todolist-form>

<!-- компонента списка -->
<app-todolist-items [flag]='flag' [todos]="todos" [searchTodos]="searchTodos" [startIndex]='startIndex' [lastIndex]='lastIndex' (deleteListItem)="deleteItem($event)" (editListItem)="getIdOfEditedItem($event)" (sortListByText)="sortList($event)" (sortListByDate)="sortList($event)" (searchInList)="searchInList($event)"></app-todolist-items>

<app-pagination [maxItemOnPage]='maxItemOnPage' [todos]="todos" [searchTodos]="searchTodos" (selectPage)="selectPage($event)"></app-pagination>
