<!-- компонента формы -->
<app-todolist-form (getTextForNewItem)="createNewItem($event)" (updateText)="updateItem($event)" [editedItemText]="this.editedItemText"></app-todolist-form>

<!-- компонента сортировки -->
<app-sortlist (sortListByText)="sortList($event)" (sortListByDate)="sortList($event)"></app-sortlist>

<!-- компонента поиска -->
<app-search-in-list [todos]="todos" [searchTodos]="searchTodos" (searchInList)="searchInList($event)"></app-search-in-list>

<!-- компонента списка -->
<ul id="todolist">
  <app-todolist-item
    *ngFor = "let todo of renderingTodos"
    [flag]='flag'
    [todo]="todo"
    (deleteListItem)="deleteItem($event)"
    (editListItem)="getIdOfEditedItem($event)">

  </app-todolist-item>


</ul>

<!-- компонента пагинации -->
<app-pagination [maxItemOnPage]='maxItemOnPage' [todos]="todos" [searchTodos]="searchTodos" (selectPage)="selectPage($event)"></app-pagination>

<!--Компонета маршрутизации-->
<!--<a routerLink="/about"><input type="button" value="Roating component"></a>-->
