$backghround-color: LightGray;

@mixin hover-color($color) {
  &:hover{
    color: $color;
  }
}

:host {
  background-color: $backghround-color;

  h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    @include hover-color(red);
  }
}
