<div id="list2">
  <div id="sortMenu">
    <input type="button" value="Sort by tasks" id="sortTaskBtn" class="btn">
    <input type="button" value="Sort by date" id="sortDateBtn" class="btn">
    <input type="button" value="Show all" id="showAllBtn" class="btn">
  </div>

  <form name="searchForm" id="searchForm">
    <input type="search" id="searchLine" name="searchLine">
    <input type="button" value="Search" id="searchBtn" class="btn">
  </form>

  <div id="navigatorContainer"><div id="navPrev">&lt;</div><div id="btnNavigator"></div><div id="navNext">&gt;</div></div>
</div>
